$font1:'Manrope',sans-serif;
$font2:'Jost',sans-serif;
$black: #24272F;
$grayText: #595E69;
$primary: #346DFF;
$primaryHover: #2A5BD9;
$green: #24D776;
$greenHover: #11CC67;
$red: #F84F4F;
$gray: #E7E7E7;
$lightGray: #F9F9F9;
$gradient: linear-gradient(95.84deg, rgba(21, 37, 79, 0.75) 17.57%, rgba(28, 43, 82, 0.75) 54.68%, rgba(21, 36, 75, 0.75) 89.55%);
$pattern: $primaryHover url(../img/pattern.png);
